src/main/mule/account-papi-app-v1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   <flow name="account-papi-app-v1-main">
        <http:listener config-ref="account-papi-app-v1-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[vars.customError]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="Transform Message" doc:id="c2fa743f-dcb1-4bed-ac57-58572c7978a7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="requestHeader" ><![CDATA[attributes.headers]]></ee:set-variable>
				<ee:set-variable variableName="requesturiParam" ><![CDATA[attributes.queryParams]]></ee:set-variable>
				<ee:set-variable variableName="requesturiParams" ><![CDATA[attributes.uriParams]]></ee:set-variable>
				<ee:set-variable variableName="requestTime" ><![CDATA[now()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<apikit:router config-ref="account-papi-app-v1-config" />
		<error-handler ref="globalerrorhandling:custom-errorhandler-onerrorpropagate" />
    </flow>
   <!--  <flow name="account-papi-app-v1-console">
        <http:listener config-ref="account-papi-app-v1-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="account-papi-app-v1-config" />
		<error-handler ref="global-error-handler" />
    </flow> -->
    <flow name="post:\accounts:application\json:account-papi-app-v1-config">
        <logger level="INFO" doc:name="Start Log" doc:id="cd0e4f38-af9d-47a8-9a0e-386457d5c00d" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"flowname": flow.name,&#10;	"appname": app.name,&#10;	"transactionid": vars.requestHeader.transactionId,&#10;	"status": "before flow reference",&#10;	"datetime": now()&#10;}]'/>
		<flow-ref doc:name="post-accounts-papiFlow" doc:id="d3d269b5-216a-49f8-a728-216137fe020c" name="post-accounts-papiFlow"/>
		<logger level="INFO" doc:name="endLogger" doc:id="c8eab8c0-bbb3-4155-bd1d-f1e45a7a654e" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"flowname": flow.name,&#10;	"appname": app.name,&#10;	"transactionid": vars.requestHeader.transactionId,&#10;	"status": "after flow reference",&#10;	"datetime": now()&#10;}]'/>
		<error-handler ref="globalerrorhandling:custom-errorhandler-onerrorpropagate" />
    </flow>
</mule>
